@import "../../css/variables.scss";

* {
  font-family: "Poppins", sans-serif;
}
.leftPanel_container {
  border-radius: 12px;
  width: 268px;
  min-height: 750px;
  height: 100%;
  padding-left: 37px;
  padding-top: 56px;
  box-shadow: 0 10px 49px 0 rgba(0, 0, 0, 0.13);
  .mykloud_logo {
    width: 150px;
    height: 54px;
    background-image: url(../../images/myKloud_logo.png);
    background-size: 150px;
    cursor: pointer;
  }
  .leftPanel_button {
    display: flex;
    gap: 16.3px;
    margin-left: 7px;
    margin-top: 50px;
    align-items: center;
    .leftPanel_text {
      background-color: white;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 767px) {
  .leftPanel_container {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    visibility: hidden;
    background-color: white;
    width: 0px;
    padding-left: 0px;
  }
}
