body {
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #1b1616;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 1.56;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

::-webkit-input-placeholder,
.placeholder {
  color: #8692a6 !important;
}

:-ms-input-placeholder,
.placeholder {
  color: #8692a6 !important;
}

::-ms-input-placeholder,
.placeholder {
  color: #8692a6 !important;
}

::placeholder,
.placeholder {
  color: #8692a6 !important;
}

.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_container .form_wrapper {
  width: 622px;
  background-color: #ffffff;
  margin: auto;
  padding: 3.5rem;
  border: solid 1px #dcdce7;
  border-radius: 6px;
}

.form_container .form_title {
  color: #1b1616;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.form_container .form_sub_title {
  font-size: 16px;
  font-weight: 600;
  color: #1b1616;
  margin-bottom: 0.5rem;
}

.form_container .input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form_container .input-container .form_field {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 6px;
  border: solid 1px #dcdce7;
  background-color: white;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  color: #1b1616;
  outline: none;
  padding-top: 7px;
}

.form_container .input-container .form_field:focus {
  border: solid 1px #445da7;
}

.form_container .input-container .form_label {
  position: absolute;
  pointer-events: none;
  -webkit-transform: translate(0, 20px) scale(1);
          transform: translate(0, 20px) scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #8692a6;
  font-size: 14px;
  line-height: 1;
  left: 16px;
}

.form_container .input-container:focus-within .form_label {
  -webkit-transform: translate(0, 5px) scale(0.8);
          transform: translate(0, 5px) scale(0.8);
  color: #8692a6;
}

.form_container .input-container .filled {
  -webkit-transform: translate(0, 5px) scale(0.8);
          transform: translate(0, 5px) scale(0.8);
}

.error {
  margin-top: 11px !important;
  font-family: "Open sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b4414c;
}

.validation {
  border-color: #b4414c !important;
}

#root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=global.css.map */